.addMembers_title {
  text-align: center;
}

.addMembers_form {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.addMembers_input {
  padding-top:10px;
}

.addMembers_ol {
  flex-direction: column;
}

.addMembers_newList {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

.addMembers_deleteButton {
margin: auto !important;
}

.addMember_username {
  font-weight: bold;
}

.addMembers_addMembersButton {
  text-align: center;
}

.addMember_fullName {
  font-weight: normal
}

.addMembers_saved {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
}

.addMembers_membersNumber {
  padding-top: 8px;
  font-weight: bold
}
