.MuiTableCell-paddingCheckbox {
  width: 20px !important
}

.basicTable_row {
  cursor: pointer !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
  color: white !important;
}