.home_logInContainer {
  text-align: center;
  padding-top: 60px;
  color: black;
  cursor: pointer;
}

.home_pleaseLogIn {
  text-decoration: none;
  color: black;
}

.home_logo {
  padding-top: 30px;
  object-fit: contain;
  width: 300px;
}

