.message {
  padding: 5px;
  margin: 5px;
  width: fit-content;
}

.message_user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message_userCard {
  background-color: #0b81ff !important;
}
.message_guestCard {
  background-color: #74747c !important;
}

.message_date {
  color:black;
  padding-top: 3px;
  margin-right: 5px;
  font-size: 12px;
}

.message_cardContent {
  padding: 5px !important;
}

.message_textMessage {
  color: white !important;
  text-align: center;
}
