.tickerBar{
  padding-top: 10px;
  padding-bottom: 20px;
  /* background-color: black */
}

.tickerBar_text {
  padding-left: 50px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.green {
  margin-left: 10px;
  align-items: center;
  display: inline-block;
  color: green;
}

.red {
  margin-left: 10px;
  align-items: center;
  display: inline-block;
  color: red;
}