.tickerBar{
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tickerBar_line {
  padding-right: 20px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.green {
  padding-left: 5px;
  align-items: center;
  display: inline-block;
  color: green;
}

.red {
  padding-left: 5px;
   align-items: center;
  display: inline-block;
  color: red;

}

.gray {
  padding-left: 5px;
   align-items: center;
  display: inline-block;
  color: gray;

}